<div class="card mt-5">
    <h4 class="card-header">My trips</h4>
    <div class="card-body">
        <p *ngIf="tripsSize == 0" class="text-center">You have not created any trips</p>
        <div *ngIf="tripsSize > 0">
            <div *ngFor="let trip of trips; let i = index" class="m-2">
                <!-- TODO Revoir la présentation -->
                <div class="row border rounded p-2" [ngClass]="{'mt-4': i !== 0}">
                    <div class="col-12">
                        <div class="float-left">
                            <strong>From :</strong> {{trip.fromLocation}} <strong>on</strong> {{trip.fromDate | date:'short'}}<br>
                            <strong>To :</strong> {{trip.toLocation}} <strong>on</strong> {{trip.toDate | date:'short'}}<br>
                        </div>
                    </div>
                    <div *ngIf="tripsReservations[i] === undefined" class="col-12">
                        <button (click)="seeReservations(i)" class="btn btn-secondary float-right">See reservations on this trip
                        </button>
                    </div>
                    <div *ngIf="tripsReservations[i] !== undefined" class="col-12">
                        <div *ngFor="let res of tripsReservations[i]; let j = index" class="m-2">
                            <div class="row border rounded p-2" [ngClass]="{'mt-4': i !== 0}">
                                <div class="col-12">
                                    <div class="float-left">
                                        <strong>Paid : </strong>{{res.paid ? "yes" : "no"}}<br>
                                        <strong>First name : </strong>{{res.user.firstName}}<br>
                                        <strong>Last name : </strong>{{res.user.lastName}}<br>
                                        <strong>E-Mail adress : </strong>{{res.user.email}}<br>
                                        <strong>Telephone number : </strong>{{res.user.tel}}<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>