<div class="card mt-5">
    <h4 class="card-header">Search for trips</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-md-6 col-12">
                    <label for="fromLocation">Departure city</label>
                    <input type="text" formControlName="fromLocation" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.fromLocation.errors }"/>
                    <div *ngIf="submitted && f.fromLocation.errors" class="invalid-feedback">
                        <div *ngIf="f.fromLocation.errors.required">Starting city is required</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="toLocation">Arriving city</label>
                    <input type="text" formControlName="toLocation" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.toLocation.errors }"/>
                    <div *ngIf="submitted && f.toLocation.errors" class="invalid-feedback">
                        <div *ngIf="f.toLocation.errors.required">Arriving city is required</div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-12">
                    <label for="fromDate">Departure date</label>
                    <input type="datetime-local" id="fromDate" formControlName="minFromDate" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.minFromDate.errors }"/>
                    <div *ngIf="submitted && f.minFromDate.errors" class="invalid-feedback">
                        <div *ngIf="f.minFromDate.errors.required">Departure date is required</div>
                    </div>
                </div>
                <!--<div class="form-group col-md-6 col-12">
                    <label for="toDate">Arriving date</label>
                    <input type="date" formControlName="toDate" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.toDate.errors }"/>
                    <div *ngIf="submitted && f.toDate.errors" class="invalid-feedback">
                        <div *ngIf="f.toDate.errors.required">Arriving date is required</div>
                    </div>
                </div>-->
                <div class="form-group col-12">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Search
                    </button>
                    <a routerLink="/" class="btn btn-link">Back to home</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-12 col-md-3">
        <div class="card">
            <h4 class="card-header">
                Filters
                <fa-icon id="arrow-icon" class="float-right" [icon]="sortDown" (click)="hideDiv()"></fa-icon>
            </h4>
            <div id="div-filters" class="card-body">
                <!-- TODO Ici les filtres avec les actions -->
            </div>
        </div>
    </div>
    <div class="col-12 col-md-9 mt-5 mt-md-0">
        <div class="card">
            <h4 class="card-header">Results</h4>
            <div class="card-body">
                <p *ngIf="getTripsSize() == 0" class="text-center">No trips found</p>
                <div *ngIf="getTripsSize() > 0">
                    <div *ngFor="let trip of trips; let i = index" class="m-2">
                        <!-- TODO Revoir la présentation -->
                        <div class="row border rounded p-2" [ngClass]="{'mt-4': i !== 0}">
                            <div class="col-12">
                                <div class="float-left">
                                    {{trip.fromLocation}} the {{trip.fromDate}}<br>
                                    {{trip.toLocation}} the {{trip.toDate}}<br>
                                    {{trip.user.firstName + ' ' + trip.user.lastName}}<br>
                                </div>
                                <span class="float-right">5$ CAD</span>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary float-right">Book a place</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

