<div class="card mt-5 w-75 mx-auto">
    <h4 class="card-header">Booking a seat</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div *ngIf="trip" class="row">
                <div class="mb-3 col-12">
                    <div class="float-left">
                        {{trip.fromLocation}} <strong>on</strong> {{trip.fromDate.toUTCString()}}<br>
                        {{trip.toLocation}} <strong>on</strong> {{trip.toDate.toUTCString()}}<br>
                        {{tripUserFirstName + ' ' + tripUserLastName}}<br>
                        {{tripUserSeats}} seats available<br>
                    </div>
                    <span class="float-right">5$ CAD</span>
                </div>
                <div class="form-group col-12 col-md-6 col-lg-12">
                    <label for="seats">Seats to book</label>
                    <input type="number" formControlName="seats" class="form-control" min="1" max="{{tripUserSeats || 10}}"
                           [ngClass]="{ 'is-invalid': f.seats.errors }"/>
                    <div *ngIf="f.seats.errors" class="invalid-feedback">
                        <div *ngIf="f.seats.errors.required">Number of seats is required</div>
                        <div *ngIf="f.seats.errors.min">Number of seats must be at least 1</div>
                        <div *ngIf="f.seats.errors.max">Number of seats must be at most {{tripUserSeats}}</div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <button [disabled]="loading || f.seats.errors" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Book a seat
                    </button>
                    <a routerLink="/" class="btn btn-link">Back to home</a>
                </div>
            </div>
        </form>
    </div>
</div>
