<div class="card mt-5 mb-5">
    <h4 class="card-header">Welcome on TravelExpress</h4>
    <div class="card-body text-justify">
        <p>Welcome ! Here, you can search for trips offered (not free, $5 CAD per seat in the vehicle) by people. You
            want to go to Toronto but you don't have a vehicle or you don't want to rent one ? This is why we're
            here!</p>
        <p>Search for your trip using your starting point and your ending point, and simply buy a seat in a vehicle.</p>
        <p>You have no account ? Don't worry, you can always search for trips anonymously and register if you're
            interested in one !</p>
        <h6><a routerLink="/" class="btn btn-primary">Find a trip</a></h6>
        <h6><a routerLink="../register" class="btn btn-primary">Register</a></h6>
        <h6><a routerLink="../login" class="btn btn-primary">Login</a></h6>
    </div>
</div>
