<div class="card mt-5 mb-5">
  <h4 class="card-header">Welcome on TravelExpress</h4>
  <div class="card-body text-justify">
    <p>Welcome user ! Here you can search for trips offered (not free, 5$ CAD per place in the vehicle) by people. You
      want to go to Toronto but you don't have a vehicle or you don't want to rent a vehicle ? Here's why we are here !
      Search your trip with your begin point and your ending point and just buy a place in a vehicle.</p>
    <p>You don't have an account ? Don't worry you can still search for trips anonymously and register if there's one you are interested in !</p>
    <h6>You want to find a trip ? Click <a routerLink="/">here</a></h6>
    <h6>You want to register ? Click <a routerLink="../register">here</a></h6>
    <h6>You want to log in ? Click <a routerLink="../login">here</a></h6>
  </div>
</div>
